name: CI

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '.devcontainer/**'
      - '.vscode/settings.json'
      - '.editorconfig'
      - 'CONTRIBUTING.md'
      - 'NuGet.md'
      - 'README.md'
      - 'build.ps1'
      - 'build.sh'
      - 'testgen.sh'
    tags-ignore:
      - '*.*.*'
  pull_request:
    paths-ignore:
      - '.devcontainer/**'
      - '.vscode/settings.json'
      - '.editorconfig'
      - 'CONTRIBUTING.md'
      - 'NuGet.md'
      - 'README.md'
      - 'build.ps1'
      - 'build.sh'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

env:
  # Disable sending usage data to Microsoft
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  # Disable telemetry message
  DOTNET_NOLOGO: true
  # Stop wasting time caching packages
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  # Do not extract XML documentation files from nuget packages
  NUGET_XMLDOC_MODE: skip
  PROJECT_CONFIGURATION: Release

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET (.NET 10.0)
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Setup .NET (.NET 9.0)
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name : dotnet restore
        run: dotnet restore

      - name: dotnet build
        run: dotnet build --configuration ${{ env.PROJECT_CONFIGURATION }} --no-restore

      - name: dotnet test (.NET 10.0)
        run: dotnet test --configuration ${{ env.PROJECT_CONFIGURATION }} -f net10.0 /p:CollectCoverage=true /p:CoverletOutputFormat=opencover --no-restore --verbosity minimal

      - name: dotnet test (.NET 9.0)
        run: dotnet test test/PhoneNumbers.Tests/PhoneNumbers.Tests.csproj --configuration ${{ env.PROJECT_CONFIGURATION }} -f net9.0 --no-restore --verbosity minimal

      - name: dotnet test (.NET 8.0)
        run: dotnet test test/PhoneNumbers.Tests/PhoneNumbers.Tests.csproj --configuration ${{ env.PROJECT_CONFIGURATION }} -f net8.0 --no-restore --verbosity minimal

      - name: dotnet test (.NET Framework 4.6.2)
        if: matrix.os == 'windows-latest'
        run: dotnet test test/PhoneNumbers.Tests/PhoneNumbers.Tests.csproj --configuration ${{ env.PROJECT_CONFIGURATION }} -f net462 --no-restore --verbosity minimal

      - name: Upload coverage reports to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: dotnet pack
        run: dotnet pack --no-build --configuration ${{ env.PROJECT_CONFIGURATION }}
